@font-face {
  font-family: Lihei;
  sans-serif;
  src: url('font/lihei-pro.ttf');
}

body, html {
  background-color: white;
  font-family: Lihei, sans-serif;
  padding: 0px;
  margin-top: 20px;
}


.nav {
  font-size: 70px;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  position: absolute;
  display:inline-block;
  vertical-align:top;
  float:left;
  margin-left: 80%;
  z-index: 100;
  color: red;

}

.nav li {
  line-height: 150%;
}

.nav li a {
  display: block;
}

.nav a:hover {
  text-decoration: underline;
}

a:-webkit-any-link {
  color: red;
  cursor: auto;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 70px;

}

video {
  width: 100%;
  height: auto;

}

.chinese{
  font-family: Adobe-Heiti, sans-serif;
}

.parentContainer {
  color: red;
  position: absolute;
  margin-right: 20%;
  margin-left: 50px;
  margin-top: -90px;
  display:inline-block;
  vertical-align:top;
  float:left;
  overflow-y:scroll;
  font-size: 65px;
}


#modal1{
  visibility: hidden;
}

@media screen and (max-width: 800px) {

  .nav{
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    position: absolute;

  }

  .nav li {
    display: block;
  }

  .nav li a {
    text-align: left;
  }

  .parentContainer{
    padding: 0px;
    margin: -100px 20px 0px 0px;
  }

  h2 {
    font-size: 24px;
  }


}
